img {
    width: 500px;
    height: auto;
    z-index: 1;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #84ADD5 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    z-index:2;
}